<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mart Dashboard</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header, nav, footer {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }

        nav {
            background-color: #555;
            padding: 10px;
            text-align: center;
        }

        main {
            padding: 20px;
        }

        section {
            background-color: #fff;
            padding: 20px;
            margin: 10px 0;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1{
            color: #ffffff;
        }
        h2{
            color: #333;
        }

        a {
            text-decoration: none;
            color: white;
            margin: 0 15px;
            font-weight: bold;
        }

        a:hover {
            color: #ffd700; 
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 10px;
            background-color: #333;
        }
    </style>
</head>

<body>

    <header>
        <h1>E-mart Dashboard</h1>
    </header>

    <nav>
        <a href="/signup">My Account</a>
        <a href="/curd">Categories</a>
        <a href="/product">Products</a>
    </nav>

    <main>
        <section>
            <h2>Recent Orders</h2>
        </section>

        <section>
            <h2>Top Products</h2>
        </section>
    </main>

    <footer>
         &copy; 2024 E-mart Dashboard
    </footer>

</body>

</html>

