<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #f1f1f1;
            padding: 10px;
            padding-top: 30px;
        }

        nav a {
            text-decoration: none;
            color: #ffffff;
            padding: 10px 20px;
            margin: 0 10px;
            border-radius: 5px;
            background-color:#d42102;
        }

        nav a:hover {
            background-color: #45a049;
        }

        main {
            padding: 20px;
        }
    </style>
    <title>Product-Navigation Bar</title>
</head>
<body>

<header>
    <h1>Products</h1>
</header>

<nav>
    <a href="/create">Add Product</a>
    <a href="/coustmize">Update Product</a>
    <a href="/delete">Delete Product</a>
</nav>

<main>
    <p></p>
</main>

</body>
</html>
